body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(https://www.zedge.net/wallpaper/48fc782d-e16f-32c2-8be7-aedbb7919459) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color:#bcb5b5;
}

/*.a{
	border-color: #F05F44;
	border-width: 5px;
	max-width: 100px;
}*/
hr{
 	border-top: 8px solid  #F05F44;
 	max-width: 65px;
 	margin:0px auto 15px auto;
}
.buffer{
	height: 10rem;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #EE4B08;
	border-color: #EE4B08;
	border-width: 4px;
}
.btn-xl{
	padding: 1rem 2rem;
}